* {
    margin: 0;
    padding: 0;
}
h1 {
    margin-bottom: 10px;
}
label {
    margin-bottom: 5px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select, textarea {
    margin-bottom: 10px;
    min-width: 200px;
}

input[type=checkbox] {
    min-width: 0;
}

textarea {
    max-width: 80%;
}

button {
    padding: 7px 20px;
    margin: 0 20px;
    border-radius: 15px;
}

select option {
    margin-bottom: 2px;
}

#container__refs {
    display: flex;
    align-items: center;
}

#container__refs input {
    margin-right: 10px;
}

.container__ref {
    display: flex;
    margin-bottom: 10px;
}

.container__ref a {
    margin: 0 10px;
}