* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5fcfd;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}

label {
    margin-bottom: 5px;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

input, select, textarea {
    margin-bottom: 10px;
    min-width: 200px;
}

input:focus, select:focus, textarea:focus {
    outline-color:#0f7bff;
}

input[type=checkbox] {
    min-width: 0;
}

input[type=color] {
    min-width: 100px;
    outline: none;
}

textarea {
    max-width: 80%;
}

button {
    padding: 12px 30px;
    margin: 0 20px;
    border-radius: 20px;
    background-color: #0f7bff;
    color: #fff;
    border: none;
}

button:focus {
    outline:none;
}
button:hover {
    box-shadow: inset -5px -5px #0354b8;
}
button:active {
    box-shadow: inset -5px -5px #013c83;
}

select option {
    margin-bottom: 2px;
}

#container__refs {
    display: flex;
    align-items: center;
}

#container__refs input {
    margin-right: 10px;
}

.container__ref {
    display: flex;
    margin-bottom: 10px;
}

.container__ref a {
    margin: 0 10px;
}

.label__file {
    margin: 10px;
    border-radius: 20px;
    background-color: #e4f7fa;
    border: 1.5px solid #0f7bff;
    padding: 0;
    line-height: 40px;
    width: 150px;
    display: block;
}

.label__Jsonfile {
    margin: 10px;
    border-radius: 20px;
    background-color: #0f7bff;
    color: #fff;
    border: none;
    padding: 0;
    line-height: 40px;
    width: 150px;
    display: block;
}

input[type=file] {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}